<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Gestor de Costos</title>
    </head>
    <body>
        <h1>Inventario de Productos 🍪</h1>

        <h2>Agregar Nuevo Ingrediente 🛒</h2>
        
        <form action="/inventario/guardar" method="post">
            <label>Ingrediente:</label>
            <input type="text" name="nombre" placeholder="Ej. Manjar" required>
            
            <label>Precio Total</label>
            <input type="number" name="precioTotal" placeholder="Ej: 1500" step="0.1" required>
            
            <button type="submit">Guardar Compra</button>
        </form>
        
        <br><br><br>
        
        <table border="1">
            <thead>
                <tr>
                    <th>Ingrediente</th>
                    <th>Precio Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ingrediente : ${misCompras}">
                    <td th:text="${ingrediente.nombre}">Nombre de prueba</td>
                    <td th:text="${ingrediente.precioTotal}">0.0</td>
                    
                    <td>
                        <a th:href="@{/inventario/eliminar/{id}(id=${ingrediente.id})}"
                            style="color: white; background-color: #e74c3c; padding: 5px 10px; text-decoration: none; border-radius: 5px; font-weight: bold;">
                            ❌ Borrar
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div style="background-color: #f4f6f9; padding: 20px; border-radius: 10px; border: 1px solid #dcdde1; max-width: 400px; margin-top: 20px;">
            <h2 style="margin-top: 0; color: #2f3640;">📊 Resumen de Inversión</h2>
            <h3 style="color: #44bd32;">
                Total Gastado: <span th:text="${totalGastado}">0.0</span>
            </h3>
            
            <h3 style="color: #0097e6;">
                Cantidad de Productos: <span th:text="${cantidadProductos}">0</span>
            </h3>
        </div>
    </body>
</html>